extends layout.pug
block content
    if !user
        h1 All Books for non auth user
    else
        h1 All Books for auth'ed user
    if message && message.length
        div.alert.alert-danger= message
    if books
        each book in books
            include book.pug
    else
        p No books to show for now
